<%= render 'application/carousel' %>

<% unless @promotions.empty? %>
<a name="promotions"></a>
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Bonuses & Promotions</h2>

    <%= render @promotions %>
  </div>
</div>
<% end %>
<%= render 'application/popular_game_lines' %>
