@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome";

.game_line_row hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.odds_info_field, .bets_info_field {
  text-align: right;
}
.active_field {
  text-align: center;
}
