// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gamelie-section{
	margin-bottom: 20px;

	.table{
		td{
			border-top: 1px solid $gray-darker;

			.odds{
				line-height: 2;
			}

			h3{
				margin: 0;
				line-height: 1.2;
			}
		}
	}
}

.game-line-thumb{

	a{
		position: relative;
    display: block;
    border-bottom: 5px solid #ff5300;
    margin-bottom: 30px;

		.title {
    	position: absolute;
	    bottom: 0;
	    right: 0;
	    background: #ff5300;
	    color: #fff;
	    padding: 8px 5% 5px 5%;
	    text-align: right;
		}
	} 
} 