// Place all the styles related to the Slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-caption{
  padding-bottom: 60px;

  h2{
    font-size: 2.6em;
  }
  .btn{
    font-size: 1.8em;
  }
}
