%article.gamelie-section.row{:role => "article"}
	.gameline-info.text-center
		.col-xs-12
			%time.time
				%i.fa.fa-clock-o
				=@game_line.formatted_date
		.col-xs-6
			%h3.lines-team{:role => "heading"}=@game_line.team1.name
			%span.odds +120
			%br
			%br
			.btn.btn-primary Bet on this team
		.col-xs-6
			%h3.lines-team{:role => "heading"}=@game_line.team2.name
			%span.odds -110
			%br
			%br
			.btn.btn-primary Bet on this team
