.row
  .col-lg-12
    %h2.page-header Bonuses  Promotions
  - @promotions.each do |promo|
    .col-md-4
      .panel.panel-default.text-center
        .panel-heading
          %h4
            %i.fa.fa-fw.fa-check
            = promo.title
        .panel-body
          %p= promo.excerpt
          =link_to 'Learn More', "/promotions/#{promo.id}", {:class => 'btn btn-lg btn-success'}