<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            Bonuses & Promotions
        </h2>
    </div>
    <% @promotions.each do |promo| %>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> <%= promo.title %></h4>
                </div>
                <div class="panel-body">
                    <p><%= promo.excerpt %></p>
                    <%= link_to('Learn More', {:controller => 'promotions', :action => 'view', :id => promo.id}, :class => 'btn btn-lg btn-success pull-right') %>
                </div>
            </div>
        </div>
    <% end %>
</div>