.well
  .row
    .col-md-8
      %h4 Experience the easiest way to bet on sports!
      %p Uptown Sports Dream gives you the easiest way to place your bets on your favorite sports.
    .col-md-4
      %a.btn.btn-lg.btn-warning.btn-block{:href => "#"} Sign Up Now!