<!-- Features Section -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Uptown Sports Dream</h2>
    </div>
    <div class="col-md-6">
        <p>TLorem ipsum dolor sit amet, consectetur adipisicing elit:</p>
        <ul>
            <li><strong>Lorem ipsum dolor</strong>
            </li>
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor/li>
            <li>Lorem ipsum dolor</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/700x450" alt="">
    </div>
</div>
<!-- /.row -->