<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Uptown Sports Dream</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right">
           <a href="#" class="btn  btn-success"><span class="glyphicon glyphicon-ok-sign"></span>  Join Now</a>
           <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Login</a>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <div class="accordion" id="leftMenu">
                <% @sports = Sport.all %>
                <% @sports.each_with_index do |sport ,i| %>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <%= link_to sport.title, {:controller => 'sports', :action => 'show', :id => sport.id} %>
                    </div>
                </div>
                <% end %>
            </div>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>