<div class="col-lg-3">
      <div id="sidebar" class="">
        <aside id="bet-slip"  class="build-bet-view">
          <header class="betslip-mainheader col-lg-12">
            <h2 role="heading" class="col-lg-6 betslip-title">
              <span class="betslip-title">Bet Slip</span>
            </h2>
                <button role="button" class="betslip-collapse pull-right"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
          </header>
          <section class="event-bet col-lg-12">
            <header class="col-lg-12 event-header">
            <h2 role="heading" class="col-lg-6">
              <span class="event-team">Dallas Cowboys</span>
              <span class="bet-price pull-right">+145</span>
            </h2>
            <button class="pull-right event-remove" tabindex="-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          </header>
          <div class="event-body col-lg-12">
            <p class="league-time col-lg-12">
              <span class="pull-left">NFL</span>
              <time class="pull-right">Mon 07/12/15@8:30pm</time>
            </p>
            <p class="competitors col-lg-6" >
              <span class="n">Dallas Cowboys</span>
              <abbr title="versus" class="">@</abbr>
              <span sclass="">Washington Redskins</span>
            </p>
            <span class="col-lg-12 event-type">Moneyline</span>
          </div>
          <footer class="col-lg-12 event-footer">
            <figure class="col-lg-6 col-sm-12 pull-left">
              <label class="">Risk</label>
              <input type="number" name="bet" class="col-lg-12">
            </figure>
            <figure class="col-lg-6 col-sm-12 pull-right">
              <label  class="">Win</label>
              <input type="number"class="col-lg-12">
            </figure>
          </footer>
          </section>
          <section class="event-bet col-lg-12">
            <header class="col-lg-12 event-header">
            <h2 role="heading" class="col-lg-6">
              <span class="event-team">Dallas Cowboys</span>
              <span class="bet-price pull-right">+145</span>
            </h2>
            <button class="pull-right event-remove" tabindex="-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          </header>
          <div class="event-body col-lg-12">
            <p class="league-time col-lg-12">
              <span class="pull-left">NFL</span>
              <time class="pull-right">Mon 07/12/15@8:30pm</time>
            </p>
            <p class="competitors col-lg-6" >
              <span class="n">Dallas Cowboys</span>
              <abbr title="versus" class="">@</abbr>
              <span sclass="">Washington Redskins</span>
            </p>
            <span class="col-lg-12 event-type">Moneyline</span>
          </div>
          <footer class="col-lg-12 event-footer">
            <figure class="col-lg-6 col-sm-12 pull-left">
              <label class="">Risk</label>
              <input type="number" name="bet" class="col-lg-12">
            </figure>
            <figure class="col-lg-6 col-sm-12 pull-right">
              <label  class="">Win</label>
              <input type="number"class="col-lg-12">
            </figure>
          </footer>
          </section>
          <footer class="col-lg-12 betslip-footer">
            <figure  class="col-lg-12 footer-header">
                <h2 class="bets-selected pull-left">
                  <span class="">1</span> Bet Selected
                </h2>
                <button class="pull-right remove-selected"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              </figure>
              <dl role="list" class="col-lg-12 selected-list" >
                <dt class="col-lg-6">Total risk</dt>
                <dd class="col-lg-6">$15.17</dd>
                <dt class="col-lg-6">Total win</dt>
                <dd class="col-lg-6">$22.00</dd>
             </dl>
        <button class="cta-button btn btn-danger col-lg-12" role="button">Review bets</button>
              <p id="login-msg" class="hide">You need to be logged in to place bets. Please <a role="link" >Log In</a> to proceed</p>
              <p id="deposit-msg" class="hide">You have insufficient funds to place bets. Please <a role="link">Deposit</a> to proceed</p>
          </footer>
          </aside>
        <section class="ad-vertical">
          <img class="img-responsive" src="http://placehold.it/375x200">
        </section>
    </div>
</div>