.col-lg-3
  #sidebar
    -unless user_signed_in?
      =render "application/login_sb"
      U=Admin.new(:email => "guayo.mena@gmail.com", :password => 'kE&We$TV^78jN15', :password_confirmation => 'kE&We$TV^78jN15')